* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

body {
  background-color: darkgray;
}

nav {
  background-color: lightgray;
  height: 40px;
}

header {
  margin: 50px;
  background-color: lightgray;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.projects {
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: space-around;
}

.projects .project {
  flex: 1;
}

.project {
  margin-bottom: 30px;
}

.link {
  margin: 5px 10px;
}

.skills ul li {
  margin: 0 10px;
}

footer {
  background-color: lightgray;
}
footer ul li {
  display: inline-block;
  margin: 0 10px;
}
