* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

body {
  background-image: linear-gradient(to right, #111111, #3b3b3b);
  color: white;
}

nav {
  padding: 5px;
  background-color: #3b3b3b;
  color: #009fd4;
  height: 30px;
  font-family: "Monda", sans-serif;
  position: sticky;

  top: 0;
}

nav ul li {
  display: inline;
}

a:hover {
  color: #00ff7f;
}

a {
  color: #009fd4;
}

.left {
  float: left;
  margin-left: 15px;
}

header {
  margin: 50px;
}

h1 {
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "Fugaz One", cursive;
}
.letter-e {
  font-family: "Oleo Script", cursive;
}

.headline {
  margin-bottom: 20px;
}

h2 {
  font-family: "Fugaz One", cursive;
  font-size: 20px;
  margin-bottom: 5px;
  line-height: 2;
  color: #009fd4;
}

p {
  font-family: "Monda", sans-serif;
  line-height: 2;
}

span {
  color: #009fd4;
}

.bio {
  text-align: left;
}

.description {
  text-align: left;
  margin: 20px;
}

.link {
  font-family: "Monda", sans-serif;
  color: #009fd4;
  margin: 10px;
}

.projects {
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: space-around;
}

.projects .project {
  flex: 1;
}

.screenshot {
  width: 200px;
  height: 295px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.skills {
  margin-top: 10px;
}
.skills li {
  display: inline;
  margin-right: 5px;
  font-family: "Monda", sans-serif;
}

.code-info {
  margin-top: auto;
}

footer {
  border-top: 1px solid white;
  font-family: "Monda", sans-serif;
  color: #009fd4;
  padding: 5px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (min-width: 400px) {
  .right {
    float: right;
    margin-right: 30px;
  }
}

@media screen and (min-width: 800px) {
  .projects {
    flex-direction: row;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-footer {
    margin-top: auto;
  }
  /*.project {
    margin: 20px 0;
  }*/
}
